body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Crimson Text", sans-serif;
}

.section-heading {
  font-size: 2.3em;
  font-weight: 500;
}

.nav-link {
  width: 50px;
  padding: 12px;
  text-decoration: none;
  color: grey;
  margin: 20px;
}

#nav-heading {
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding-left: 20px;
}

.nav-link:hover {
  color: black;
  background-color: rgba(232, 209, 209, 0.435);
  border-radius: 12px;
}

#nav-heading:hover {
  color: #F26666;
}

#navbar {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  min-width: 100vw;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#blog-link {
  margin-right: 80px;
}

#contact-btn, .page-btn {
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 18px;
  background-color: #F26666;
  border-radius: 12px;
  color: #fff;
}

#contact-btn:hover, .page-btn:hover {
  background-color: #cc5e5e;
}

.main-sec {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.inner-sec {
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 50px;
  width: 80%;
  height: 80%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #B7DAE9;
}

.page-btn:hover {
  background-color: #cc5e5e;
}

#splash-page {
  background-color: #F26666;
  height: 100vh;
  min-width: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
}

#splash-heading {
  font-size: 7em;
  font-weight: 300;
  color: #EFDEC0;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 100%;
}

.main-sec {
  background-color: #B7DAE9;
}

.inner-sec {
  background-color: #95C6DB;
  max-height: 70vh;
  max-width: 80vw;
}
.inner-sec article {
  padding: 40px;
}
.inner-sec .border-rad {
  border-radius: 12px;
}
.inner-sec .section-content {
  max-width: 30vw;
}
.inner-sec #wai-img {
  height: 400px;
  width: 400px;
}
.inner-sec #history-img {
  display: block;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
}
.inner-sec .section-heading {
  margin-bottom: 20px;
}
.inner-sec:nth-child(1) {
  margin: 20px;
}

#skills {
  flex-direction: column;
  justify-content: space-between;
}
#skills img {
  display: block;
  max-width: 600px;
  max-height: 200px;
  width: auto;
  height: auto;
}
#skills .skill-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#skills .skill-wrapper .skill-heading {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}
#skills .section-heading {
  text-align: center;
  margin: 20px 0px;
  padding-bottom: 20px;
}

.spacer {
  height: 200px;
}

#interest {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#interest .section-heading {
  margin-bottom: 5%;
  margin-top: 2%;
}
#interest p {
  width: 75%;
}
#interest .icon-img {
  height: 100px;
  width: 100px;
}

.link-wrapper {
  display: flex;
}
.link-wrapper .link-box {
  display: flex;
  flex-direction: column;
  margin: 70px;
  margin-bottom: 150px;
}
.link-wrapper .link-box img {
  margin: 0;
  margin-bottom: 25px;
}
.link-wrapper .link-box a {
  margin: 0;
}
.link-wrapper .link-box .page-btn {
  min-width: 100px;
}
.link-wrapper #projects-img {
  margin-left: 22px;
}
.link-wrapper #email-img {
  margin-left: 15px;
}
.link-wrapper #blog-img {
  margin-left: 24px;
}/*# sourceMappingURL=index.css.map */