@import "./styles/defaults/clear-styles.scss";
@import "./styles/defaults/fonts.scss";
@import "./styles/defaults/colors.scss";
@import "./styles/breakpoints/index-breakpoints";
@import "./styles/components/navbar.scss";
@import "./styles/components/section-box";
@import "./styles/defaults/section-wrapper.scss";

body {
    background-color: $primary-color;
}


.page-btn {
    @extend #contact-btn;
}

.page-btn:hover {
    background-color: #cc5e5e;
}




#splash-page{
    background-color: $secondary-color;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#splash-heading {
    font-size: 7em;
    font-weight: 300;
    color: #EFDEC0;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 100%;
    
}




.main-sec{
    background-color: $primary-color;
    max-width: 100%;
}

.inner-sec{
    background-color: $bg-box-color;
    max-height: 70vh;
    max-width: 80vw;
    article {
        padding: 40px;
        justify-content: space-evenly;
    }
    .border-rad{
        border-radius: 12px;
    }
    #wai-img {
        display: block;
        max-width: 500px;
        max-height: 500px;
        width: auto;
        height: auto;
    }
    #history-img {
        display: block;
        max-width: 600px;
        max-height: 500px;
        width: auto;
        height: auto;
    }
    .section-heading{
        margin-bottom: 20px;
    }
    &:nth-child(1){
        margin: 20px;
    }
}




#skills{
    flex-direction: column;
    justify-content: space-around;
    .section-heading{
        text-align: center;
    }
    .skill-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .skill-heading {
            font-size: 2em;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    img{
        display: block;
        max-width: 500px;
        max-height: 200px;
        width: auto;
        height: auto;
    }
}

.spacer{
    height: 200px;
    width: 200px;
}

#interest {
    display: flex;
    flex-direction: column;
    text-align: center;
    .section-heading{
        margin-bottom: 5%;
        margin-top: 2%;
    }
    p {
        width: 75%;
    }
    
    .icon-img{
        height: 100px;
        width: 100px;
    }
  }

.link-wrapper{
    display: flex;

    .link-box{
        display: flex;
        flex-direction: column;
        margin: 70px;
        margin-bottom: 150px;
        img{
            margin: 0;
            margin-bottom: 25px;
        }
        a{
            margin: 0;
        }
        .page-btn{
            min-width: 100px;
        }
    }
    #projects-img{
        margin-left: 22px;
    }
    #email-img{
        margin-left: 15px;
    }
    #blog-img{
        margin-left: 24px;
    }
}
