@import "../defaults/clear-styles.scss";
@import "../defaults/fonts";
@import "../defaults/colors.scss";
@import "../defaults/breakpoints.scss";
@import "../components/navbar.scss";
@import "../components/section-box";
@import "../defaults/section-wrapper.scss";

body {
    background-color: $primary-color;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog-post {
    background-color: #fff;
    border: 1px black solid;
    border-radius: 25px;
    height: 40vh;
    width: 30%;
    margin: 20px;
    .inner-blog{
        display: flex;
        justify-content: space-between;
        .blog-img{
            width: 62%;
        }
        img{
            width: 100%;
            border-radius: 12px;
            box-sizing: border-box;
        }
    }
    .divider {
        height: 480px;
        border-left: 1px #535353 solid;
        margin: 20px;
    }
    .blog-content{
        padding: 20px;
        padding-left: 0;
        .blog-heading{
            font-weight: 500;
            font-size: 1.7em;
            margin-top: 10px;
        }
        .blog-year{
            color: black;
            font-weight: 200;
            font-size: .9em;
            margin: 5px 0;
        }
        .blog-descrption{
            color: grey;
            font-weight: 300;
        }
    }
}

.reverse-blog {
    flex-direction: row-reverse;
}

.featured {
    width: 90%;
}

.single {
    height: 600px;
    .inner-blog{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blog-img{
        margin-bottom: 20px;
    }
    .divider {
        border-left: 0;
        border-top: 1px #535353 solid;
        margin: 0px;
        height: 1px;
        width: 50%;
    }
    .blog-content{
        margin-left: 20px;
    }
    }
}