body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Crimson Text", sans-serif;
}

.section-heading {
  font-size: 2.3em;
  font-weight: 500;
}

/* Larger Desktop Screens Styling */
@media only screen and (min-width: 1200px) {
  body .blog-post {
    min-height: 20vh;
    height: 60vh;
  }
  body .blog-post .blog-content .blog-heading {
    font-size: 1.3em;
  }
  body .blog-post .blog-content .blog-year {
    font-size: 0.9em;
  }
  body .blog-post .blog-content .blog-description {
    height: 60%;
    font-size: 0.9em;
    overflow: hidden;
  }
  body .blog-post .blog-content .read-more {
    font-size: 0.9em;
  }
  body .single {
    margin-bottom: 200px;
    height: 100vh;
    width: 29%;
  }
  body .single .inner-blog .blog-content {
    height: 50%;
  }
  body .single .inner-blog .blog-content .blog-img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
/* Laptop / Desktop Styling */
@media only screen and (max-width: 1200px) {
  body .blog-post {
    min-height: 20vh;
    height: 50vh;
  }
  body .blog-post .blog-content .blog-heading {
    font-size: 1.2em;
  }
  body .blog-post .blog-content .blog-year {
    font-size: 0.8em;
  }
  body .blog-post .blog-content .blog-description {
    height: 60%;
    font-size: 0.8em;
    overflow: hidden;
  }
  body .blog-post .blog-content .read-more {
    font-size: 0.9em;
  }
  body .single {
    margin-bottom: 100px;
    height: 100vh;
    width: 29%;
  }
  body .single .inner-blog .blog-content {
    height: 50%;
  }
  body .single .inner-blog .blog-content .blog-img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
/* Tablet to Desktop styles */
@media only screen and (max-width: 1000px) {
  body h1 {
    font-size: 1.5em;
    margin-bottom: 25px;
  }
  body .blog-post {
    width: 100%;
    min-height: 30vh;
    height: 30vh;
  }
  body .blog-post .inner-blog {
    flex-direction: row;
    align-items: center;
  }
  body .blog-post .inner-blog .blog-img {
    height: 100%;
    width: auto;
  }
  body .blog-post .inner-blog .read-more {
    font-size: 0.9em;
  }
  body .blog-post .inner-blog .divider {
    display: inline-block;
    border-top: 0;
    border-left: 1px #535353 solid;
    margin: 0;
    margin-left: 10px;
    height: 75%;
    width: 100%;
  }
  body .blog-post .blog-content {
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-right: 20px;
    height: 100%;
  }
  body .blog-post .blog-content .blog-heading {
    font-size: 1.2em;
    padding: 0px;
    margin: 0;
    height: 10%;
  }
  body .blog-post .blog-content .blog-year {
    font-size: 0.83em;
  }
  body .blog-post .blog-content .blog-description {
    padding: 0%;
    font-size: 0.85em;
    height: 40%;
  }
  body .single {
    margin-bottom: 0px;
  }
  body .single .inner-blog {
    flex-direction: row;
  }
  body .single .inner-blog .blog-content {
    margin: 0;
    height: 100%;
    padding-top: 20px;
  }
}
/* Phone to Tablet Styles */
@media only screen and (max-width: 700px) {
  body h1 {
    font-size: 1.5em;
  }
  body .blog-post {
    width: 100%;
    height: 100vh;
  }
  body .blog-post .inner-blog {
    flex-direction: column-reverse;
    align-items: center;
  }
  body .blog-post .inner-blog .blog-img {
    height: 100%;
    width: auto;
    max-width: 100%;
  }
  body .blog-post .inner-blog .read-more {
    font-size: 0.9em;
  }
  body .blog-post .inner-blog .divider {
    border-left: 0;
    border-top: 1px #535353 solid;
    margin: 0px;
    margin-bottom: 20px;
    height: 1px;
    width: 50%;
  }
  body .blog-post .blog-content {
    text-align: center;
    padding: 0;
    padding-top: 20px;
    height: 30%;
  }
  body .blog-post .blog-content .blog-heading {
    font-size: 1.1em;
    padding: 0px;
    margin: 0;
    height: 10%;
  }
  body .blog-post .blog-content .blog-year {
    font-size: 0.8em;
  }
  body .blog-post .blog-content .blog-description {
    padding: 0%;
    font-size: 0.8em;
    height: 40%;
  }
  body .reverse-blog {
    flex-direction: column;
  }
  body .single {
    margin-bottom: 0px;
  }
  body .single .inner-blog {
    flex-direction: column;
  }
  body .single .inner-blog .blog-content {
    margin: 0;
    height: 35%;
  }
}
#navbar {
  min-width: 100%;
  max-width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

button {
  all: unset;
}

#nav-heading {
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding-left: 20px;
}

.nav-link {
  box-sizing: border-box;
  width: 50px;
  padding: 12px;
  text-decoration: none;
  color: grey;
  margin: 20px;
}

.nav-link:hover {
  color: black;
  background-color: rgba(232, 209, 209, 0.435);
  border-radius: 12px;
}

#nav-heading:hover {
  color: #F26666;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#contact-btn {
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 18px;
  background-color: #F26666;
  border-radius: 12px;
  color: #fff;
}

#contact-btn:hover {
  background-color: #cc5e5e;
}

#contact-btn:active {
  background-color: #cc5e5e;
}

.dropdown {
  display: none;
}
.dropdown .dropdown-content {
  right: -20px;
}
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

@media only screen and (max-width: 600px) {
  #nav-heading {
    font-size: 17px;
  }
  .dropdown {
    font-size: 13px;
  }
  .dropdown-content {
    font-size: 13px;
    min-width: 100px;
  }
}
@media only screen and (max-width: 700px) {
  #contact-btn {
    display: none;
  }
  .dropdown {
    margin-right: 40px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 18px;
    background-color: #F26666;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
  }
  .dropdown:hover {
    background-color: #cc5e5e;
  }
  .dropdown:active {
    background-color: #cc5e5e;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  .dropdown-content .dropdown-link {
    text-decoration: none;
    color: black;
  }
  .dropdown-content .dropdown-link:hover {
    background-color: #F26666;
    color: white;
  }
  .dropdown-content .dropdown-link:active {
    background-color: #F26666;
    color: white;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:active .dropdown-content {
    display: block;
  }
  #navbar {
    justify-content: space-between;
    font-size: 1em;
  }
  #navbar ul {
    display: none;
  }
}
footer {
  font-size: 0.8rem;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #F26666;
}
footer p {
  color: #fff;
  text-align: center;
  margin-left: 20px;
}
footer .social-links {
  display: flex;
  margin-right: 20px;
}
footer .social-links img {
  max-width: 1.8em;
  max-height: 1.8em;
  width: auto;
  height: auto;
  margin-left: 20px;
}
footer .social-links #twitter-icon {
  margin-top: 2px;
}

.main-sec {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.inner-sec {
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 50px;
  width: 80%;
  height: 80%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #B7DAE9;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.read-more {
  color: #de6c1a;
  text-decoration: none;
  font-weight: 500;
}
.read-more:hover {
  text-decoration: underline;
}

.blog-post {
  background-color: #fff;
  border: 0px black solid;
  border-radius: 25px;
  height: 40vh;
  width: 30%;
  margin: 20px;
  min-height: 500px;
  max-height: 550px;
}
.blog-post .inner-blog {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.blog-post .inner-blog .divider {
  display: inline-block;
}
.blog-post .inner-blog .blog-img {
  width: auto;
  height: 100%;
  max-width: 50vw;
  border-radius: 12px;
}
.blog-post .divider {
  height: auto;
  border-left: 1px #535353 solid;
  margin: 20px;
}
.blog-post .blog-content {
  padding: 20px;
  padding-left: 0;
}
.blog-post .blog-content .blog-heading {
  color: black;
  font-weight: 500;
  font-size: 1.7em;
  margin-top: 10px;
  text-decoration: none;
}
.blog-post .blog-content .blog-heading:hover {
  text-decoration: underline;
}
.blog-post .blog-content .blog-year {
  color: black;
  font-weight: 200;
  font-size: 0.9em;
  margin: 5px 0;
  font-style: italic;
}
.blog-post .blog-content .blog-description {
  color: grey;
  font-weight: 300;
  max-height: 75%;
  overflow: hidden;
}

.blog-description {
  background-color: rgba(111, 111, 111, 0.0431372549);
}

.reverse-blog {
  flex-direction: row-reverse;
}
.reverse-blog .blog-content {
  padding: 20px;
  padding-right: 0;
}

.featured {
  width: 90%;
}

.single {
  height: 700px;
}
.single .inner-blog {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.single .inner-blog .blog-img {
  width: 100%;
  height: auto;
  max-height: 1000px;
}
.single .inner-blog .divider {
  border-left: 0;
  border-top: 1px #535353 solid;
  margin: 0px;
  margin-bottom: 20px;
  height: 1px;
  width: 50%;
}
.single .inner-blog .blog-content {
  margin-left: 20px;
}
.single .inner-blog .blog-description {
  max-height: 200px;
  overflow: hidden;
}/*# sourceMappingURL=blog.css.map */