@import "../defaults/clear-styles.scss";
@import "../defaults/fonts";
@import "../defaults/colors.scss";
@import "../breakpoints/contact-breakpoints";
@import "../components/navbar.scss";
@import "../components/footer";
@import "../components/section-box";
@import "../defaults/section-wrapper.scss";

body {
    background-color: #F1D3E2;
}

.page-btn {
    @extend #contact-btn;
}

.page-btn:hover {
    background-color: #cc5e5e;
}



.main-sec{
    height: 90vh;
    padding: 0;
}


.inner-sec {
    background-color: #F9B5C5;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    width: 70vw;
    .section-heading {
        text-align: center;
        margin-top: 10%;
    }
    p {
        text-align: center;
        margin-top: 5%;
    }
    
}

#page-links{
    margin-bottom: 100px;
}


.link-wrapper{
    display: flex;
    max-height: 600px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    .icon-img{
        height: 100px;
        width: 100px;
    }
    .link-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        img{
            margin: 0;
            margin-bottom: 25px;
        }
        a{
            margin: 0;
        }
        .page-btn{
            min-width: 100px;
        }
        margin: 70px;
    }
    #resume-img{
        width: 150px;
        height: 150px;
        margin-bottom: 0;
    }
    #resume-box{
        margin-top: 0px;
    }
    #email-img{
        margin-right: 3px;
    }
}

