@import "../defaults/clear-styles.scss";
@import "../defaults/fonts";
@import "../defaults/colors.scss";
@import "../defaults/breakpoints.scss";
@import "../components/navbar.scss";
@import "../components/section-box";
@import "../defaults/section-wrapper.scss";

body {
    background-color: $primary-color;
}

.page-heading {
    margin-top: 50px;
    text-align: center;
    p {
        margin-top: 2%;
        text-align: center;
        padding: 0% 20%;
    }
}

.project-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-sec{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
    .project-heading{
        font-weight: 400;
        font-size: 1.8em;
    }
    .project-year{
        margin: 20px;
        font-style: italic;
    }
    .project-description{
        width: 70vw;
        margin: 20px;
    }
    &:last-of-type{
        margin-bottom: 50px;
    }
}

.divider {
    border-top: 1px rgb(55, 55, 55) solid;
    background-color: rgb(55, 55, 55);
    height: 1px;
    width: 60%;
    margin-top: 30px;

}

img {
    display: block;
    max-width: 80vw;
    max-height: 50vh;
    width: auto;
    height: auto;
}