@import "../defaults/clear-styles.scss";
@import "../defaults/fonts";
@import "../defaults/colors.scss";
@import "../breakpoints/blog-breakpoints";
@import "../components/navbar.scss";
@import "../components/footer";
@import "../components/section-box";
@import "../defaults/section-wrapper.scss";
@import "../animations/blog-animations";

body {
    background-color: $primary-color;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
}


.section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
}





/* Styling for blog post components */
.blog-post {
    background-color: #fff;
    border: 0px black solid;
    border-radius: 25px;
    height: 40vh;
    width: 30%;
    margin: 20px;
    min-height: 500px;
    max-height: 550px;
    .inner-blog{
        display: flex;
        justify-content: space-between;
        height: 100%;
        .divider {
            display: inline-block;
        }
        .blog-img{
            width: auto;
            height: 100%;
            max-width: 50vw;
            border-radius: 12px;
        }

    }
    .divider {
        height: auto;
        border-left: 1px #535353 solid;
        margin: 20px;
    }
    .blog-content{
        padding: 20px;
        padding-left: 0;
        // flex-grow: 1;
        .blog-heading{
            color: black;
            font-weight: 500;
            font-size: 1.7em;
            margin-top: 10px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        .blog-year{
            color: black;
            font-weight: 200;
            font-size: .9em;
            margin: 5px 0;
            font-style: italic;
        }
        .blog-description{
            color: grey;
            font-weight: 300;
            max-height: 75%;
            overflow:hidden;
        }
    }
}

.read-more{
    color: #de6c1a;
    text-decoration: none;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}

.blog-description{
    background-color: #6f6f6f0b;
}

.reverse-blog {
    flex-direction: row-reverse;
    .blog-content{
        padding: 20px;
        padding-right: 0;
}
}

.featured {
    width: 90%;
}

.single {
    height: 700px;
    .inner-blog{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .blog-img{
        width: 100%;
        height: auto;
        max-height: 1000px;
    }
    .divider {
        border-left: 0;
        border-top: 1px #535353 solid;
        margin: 0px;
        margin-bottom: 20px;
        height: 1px;
        width: 50%;
    }
    .blog-content{
        margin-left: 20px;
    }
    .blog-description{
        max-height: 200px;
        overflow: hidden;
    }
    }
}