@import "../defaults/colors";
@import "../defaults/breakpoints";

.nav-link {
    width: 50px;
    padding: 12px;
    text-decoration: none;
    color: grey;
    margin: 20px; 
}


#nav-heading{
font-weight: 300;
text-decoration: none;
color: black;
font-size: 1.3em;
padding-left: 20px;
}

.nav-link:hover{
color:black;
background-color: rgba(232, 209, 209, 0.435);
border-radius: 12px;
}

#nav-heading:hover{
color: $secondary-color;
}

#navbar{
height: 70px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: space-between;
}


ul {
list-style-type: none;
display: flex;
margin: 0;
padding: 0;

}

#blog-link {
margin-right: 80px;
}

#contact-btn {
text-decoration: none;
margin-right: 20px;
padding: 10px 18px;
background-color: $secondary-color;
border-radius: 12px;
color: #fff;
}

#contact-btn:hover {
    background-color: #cc5e5e;
}