@import "../defaults/colors";
//Navbar styling used for HTML pages

#navbar{
    min-width: 100%;
    max-width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

button{
    all: unset;
}

#nav-heading{
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding-left: 20px;
    }    

.nav-link {
    box-sizing: border-box;
    width: 50px;
    padding: 12px;
    text-decoration: none;
    color: grey;
    margin: 20px; 
}

.nav-link:hover{
color:black;
background-color: rgba(232, 209, 209, 0.435);
border-radius: 12px;
}

#nav-heading:hover{
color: $secondary-color;
}


ul {
list-style-type: none;
display: flex;
margin: 0;
padding: 0;
}

#contact-btn {
text-decoration: none;
margin-right: 20px;
padding: 10px 18px;
background-color: $secondary-color;
border-radius: 12px;
color: #fff;
}

#contact-btn:hover {
    background-color: #cc5e5e;
}

#contact-btn:active {
    background-color: #cc5e5e;
}

// #blog-link{
//     margin-right: 70px;
// }

.dropdown{
    display: none;
    .dropdown-content{
        right: -20px;
    }
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
}


@media only screen and (max-width: 600px) {
    #nav-heading{
        font-size: 1.1em;
    }
    .dropdown {
        font-size: .8em;
      }
      .dropdown-content {
        font-size: .95em;
        min-width: 100px;
      }
}

@media only screen and (max-width: 700px) {
    #contact-btn{
        display: none;
    }
    .dropdown {
        margin-right: 40px;
        position: relative;
        display: inline-block;
        text-decoration: none;
        margin-right: 20px;
        padding: 10px 18px;
        background-color: $secondary-color;
        border-radius: 12px;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: #cc5e5e;
        }
        &:active{
            background-color: #cc5e5e;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: white;
        .dropdown-link{
            text-decoration: none;
            color: black;   
            &:hover{
                background-color: $secondary-color;
                color: white;
            }
            &:active{
                background-color: $secondary-color;
                color: white;
            }
        }
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown:active .dropdown-content {
        display: block;
      }
    #navbar{
        justify-content: space-between;
        font-size: 1em;
        ul{
            display: none;
        }
    }
} 


