@import "../defaults/colors";

/* Tablet to Desktop styles */
@media only screen and (max-width: 1000px) {
    body{
        .page-heading {
            h1 {
                font-size: 1.6em;
            }
        }
        .main-content{
            .blog-article{
            p{
                font-size: .9em;
            }
        }
    }
}
}

/* Phone to Tablet Styles */
@media only screen and (max-width: 500px) {
    body{
        .page-heading {
            h1 {
                font-size: 1.3em;
            }
        }
        .main-content{
            .blog-article{
            p{
                font-size: .8em;
                text-align: center;
            }
        }
    }
}
}