@import "../defaults/colors";

/* Larger Desktop Screens Styling */
@media only screen and (min-width: 1200px) {

    }

/* Laptop / Desktop Styling */
@media only screen and (max-width: 1200px) {

}

/* Tablet to Desktop styles */
@media only screen and (max-width: 1000px) {

}

/* Phone to Tablet Styles */
@media only screen and (max-width: 600px) {
    body{
        h1{
            font-size: 1.5em;
        }
        .blog-post{
            width: 100%;
            .inner-blog{
                flex-direction: column;
                .blog-img{
                }
            }
        .blog-content{
            .blog-heading{
            }
            .blog-year{
            }
            .blog-description{

            }
         }
        }
        .reverse-blog {
            flex-direction: column;
            .blog-content{
        }
        }
        .single{

        }
    }
}